<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>How Do I Beat</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <link href="static/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="static/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <script src="static/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="static/bootstrap-material-design/dist/js/ripples.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.js"></script>
    <script src="static/controllers.js"></script>
    
    <script src="static/typed.js/dist/typed.min.js"></script>
    <link href="static/main.css" rel="stylesheet">

</head>

<body ng-app="howdoibeat">

    <div id="wrapper" ng-controller="IndexController">
    
    <!--{[page.firstname]}
    
    <div ng-repeat="data in beatdata | limitTo:10:0">{[data.championId]}</div>-->

        <!-- Navigation -->
        <!--<div ng-include="'nav2.html'"></div>-->

        <div id="page-wrapper">
        <div class="container">
            <div class="row" align="center">
                <div class="col-md-12">
                    <h1 class="page-header"><span class="element"></span> <input type="text" ng-model="summoner.name" class="form-control" placeholder="summoner name" aria-describedby="sizing-addon2" style="display:inline-block; width:300px; margin-right: 1em"><a href="javascript:void(0)" ng-click="fetchdata()" class="btn btn-default btn-fab"><i class="material-icons">search</i></a></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
		<center>
		<p>The most mastered champions and roles by this summoner</p>
		</center>
            </div>
            <!-- /.row -->

          <br>
          <div id="Carousel" class="carousel slide" data-ride="carousel" style="margin-bottom:2.5em">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <!--<li data-target="#myCarousel" data-slide-to="{[$index]}" class="active"><img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{[beatdata[0].champion.key]}.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> </li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"><img src="http://static.eclypsia.com/images/lol/champions/Akali_Splash_0.jpg" class="img-circle" alt="Cinque Terre" width="50" height="50"> </li>
              <li data-target="#myCarousel" data-slide-to="3"></li>-->
                <li data-target="#Carousel" ng-repeat="data in beatdata.mastery.slice(0,10) track by $index" data-slide-to="{[$index]}" class="active"><img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{[data.champion.key]}.png" class="img-circle" width="50" height="50"> </li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{[beatdata.mastery[0].champion.key]}_0.jpg">
                <div class="carousel-caption caption-mastery">
                    <h3>Mastery Level: {[beatdata.mastery[0].championLevel]}</h3>
                    <h4>Highest Grade: {[beatdata.mastery[0].highestGrade]}</h4>
                    <img ng-if="beatdata.mastery[0].champion.tags[0] == 'Fighter' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/7/7b/Fighter_Large.png/revision/latest?cb=20140907112829" alt="" />
                    <img ng-if="beatdata.mastery[0].champion.tags[0] == 'Assassin' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/5/59/Assassin_Large.png/revision/latest?cb=20140907112830" alt="" />
                    <img ng-if="beatdata.mastery[0].champion.tags[0] == 'Mage' " src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/b/b9/Mage_Large.png/revision/latest?cb=20140907112829" alt="" />
                    <img ng-if="beatdata.mastery[0].champion.tags[0] == 'Tank' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/9/9d/Tank_Large.png/revision/latest?cb=20140907112830" alt="" />
                    <img ng-if="beatdata.mastery[0].champion.tags[0] == 'Marksman' " src="http://vignette1.wikia.nocookie.net/leagueoflegends/images/5/54/Marksman_Large.png/revision/latest?cb=20140907112830" alt="" />
                    <img ng-if="beatdata.mastery[0].champion.tags[0] == 'Support' " src="http://vignette4.wikia.nocookie.net/leagueoflegends/images/5/55/Support_Large.png/revision/latest?cb=20140907112831" alt="" />
                </div>
              </div>
        
              <div class="item" ng-repeat="data in beatdata.mastery.slice(1,10) track by $index">
                <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{[data.champion.key]}_0.jpg">
                <div class="carousel-caption caption-mastery">
                    <h3>Mastery Level: {[data.championLevel]}</h3>
                    <h4>Highest Grade: {[data.highestGrade]}</h4>
                    <img ng-if="data.champion.tags[0] == 'Fighter' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/7/7b/Fighter_Large.png/revision/latest?cb=20140907112829" alt="" />
                    <img ng-if="data.champion.tags[0] == 'Assassin' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/5/59/Assassin_Large.png/revision/latest?cb=20140907112830" alt="" />
                    <img ng-if="data.champion.tags[0] == 'Mage' " src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/b/b9/Mage_Large.png/revision/latest?cb=20140907112829" alt="" />
                    <img ng-if="data.champion.tags[0] == 'Tank' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/9/9d/Tank_Large.png/revision/latest?cb=20140907112830" alt="" />
                    <img ng-if="data.champion.tags[0] == 'Marksman' " src="http://vignette1.wikia.nocookie.net/leagueoflegends/images/5/54/Marksman_Large.png/revision/latest?cb=20140907112830" alt="" />
                    <img ng-if="data.champion.tags[0] == 'Support' " src="http://vignette4.wikia.nocookie.net/leagueoflegends/images/5/55/Support_Large.png/revision/latest?cb=20140907112831" alt="" />
                    <img ng-if="data.champion.tags[0] == 'Melee' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/2/2d/Melee_role.png/revision/latest?cb=20150522155739" alt="" />
                    <img ng-if="data.champion.tags[0] == 'Ranged' " src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/4/4a/Ranged_role.png/revision/latest?cb=20150522155739" alt="" />
                </div>
              </div>
            
            </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-fw"></i> Main Roles (in descending order)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p ng-repeat="role in beatdata.main_role" class="main_role">
                                {[role]}
                                <img ng-if="role == 'Fighter' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/7/7b/Fighter_Large.png/revision/latest?cb=20140907112829" alt="" />
                                <img ng-if="role == 'Assassin' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/5/59/Assassin_Large.png/revision/latest?cb=20140907112830" alt="" />
                                <img ng-if="role == 'Mage' " src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/b/b9/Mage_Large.png/revision/latest?cb=20140907112829" alt="" />
                                <img ng-if="role == 'Tank' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/9/9d/Tank_Large.png/revision/latest?cb=20140907112830" alt="" />
                                <img ng-if="role == 'Marksman' " src="http://vignette1.wikia.nocookie.net/leagueoflegends/images/5/54/Marksman_Large.png/revision/latest?cb=20140907112830" alt="" />
                                <img ng-if="role == 'Support' " src="http://vignette4.wikia.nocookie.net/leagueoflegends/images/5/55/Support_Large.png/revision/latest?cb=20140907112831" alt="" />
                                <img ng-if="role == 'Melee' " src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/2/2d/Melee_role.png/revision/latest?cb=20150522155739" alt="" />
                                <img ng-if="role == 'Ranged' " src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/4/4a/Ranged_role.png/revision/latest?cb=20150522155739" alt="" />
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-md-6 -->
                
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-fw"></i> Current Game
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body row">
                            <div class="col-md-6 col-sm-6">
                                <h4>Blue Team</h4>
                                <p ng-repeat="summoner in beatdata.current_game.slice(0,5)" class="current_game">
                                    {[summoner.summonerName]}
                                    <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{[summoner.champion.key]}.png" class="img-circle" width="50" height="50">
                                </p>
                                </div>
                            <div class="col-md-6 col-sm-6">
                                <h4>Red Team</h4>
                                <p ng-repeat="summoner in beatdata.current_game.slice(5,10)" class="current_game">
                                    {[summoner.summonerName]}
                                    <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{[summoner.champion.key]}.png" class="img-circle" width="50" height="50">
                                </p>
                                </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael-min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
    <script src="/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>
    
    <script>    $('.carousel').carousel({interval: false});</script>
    
    <script>
    $(function(){
        $(".element").typed({
            strings: ["How do I beat this guy?", "How do I beat"],
            typeSpeed: 0
        });
    });
    </script>

</body>

</html>
